@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  background-color: whitesmoke;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 0.9rem;
}

h1 {
  font-size: 3.5rem;
  font-weight: 900;
}

#contactForm-submit {
  font-size: 1.2rem;
}